https://www.kaggle.com/datasets/ahmedshahriarsakib/usa-real-estate-dataset/data

In [66]:
import pandas as pd
import numpy as np

In [75]:
df = pd.read_parquet("datasets/realtor-data.parquet")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 904966 entries, 0 to 904965
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   status          904966 non-null  object
 1   bed             775126 non-null  float64
 2   bath            791082 non-null  float64
 3   acre_lot        638324 non-null  float64
 4   city            904894 non-null  object
 5   state           904966 non-null  object
 6   zip_code        904762 non-null  float64
 7   house_size      612080 non-null  float64
 8   prev_sold_date  445865 non-null  object
 9   price           904895 non-null  float64
dtypes: float64(6), object(4)
memory usage: 69.0+ MB

In [77]:
null_df = pd.DataFrame(df.isnull().sum(), columns = ["null_count"])
null_df["null_percentage"] = null_df["null_count"] / len(df)
null_df

                null_count  null_percentage
status                   0         0.000000
bed                 129840         0.143475
bath                113884         0.125843
acre_lot            266642         0.294643
city                    72         0.000080
state                    0         0.000000
zip_code               204         0.000225
house_size          292886         0.323643
prev_sold_date      459101         0.507313
price                   71         0.000078

In [78]:
df = df.drop(["prev_sold_date"], axis = 1)
df = df.dropna()
df = df.drop_duplicates()

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51864 entries, 0 to 904938
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   status      51864 non-null  object
 1   bed         51864 non-null  float64
 2   bath        51864 non-null  float64
 3   acre_lot    51864 non-null  float64
 4   city        51864 non-null  object
 5   state       51864 non-null  object
 6   zip_code    51864 non-null  float64
 7   house_size  51864 non-null  float64
 8   price       51864 non-null  float64
dtypes: float64(6), object(3)
memory usage: 4.0+ MB

In [80]:
df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,145000.0
5,for_sale,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,179000.0